html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.js-fea-editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}