html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.toolbar button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #9400d3;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom:5px;
  width: 220px;
  cursor: pointer;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #9400d3;
  border-radius: 2px;
  margin-right: 10px;
}

.toolbar button:hover {
  background-color: #9400d3;
  color: #fff;
}

.toolbar {
  height: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.js-fea-editor,.logger-container {
  width: 50%;
}

.js-fea-editor {
  border-top: 1px solid #9400d3;
  border-right: 1px solid #9400d3;
}

.logger-container {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  border-top: 1px solid #9400d3;
  overflow: scroll;
}